@keyframes img-portfolio-in {
    0%   {transform: scale(0.5, 0.5); opacity: 0.0;}
    66%   {transform: scale(0.5, 0.5); opacity: 0.0;}
    100% {transform: scale(1, 1); opacity: 1.0;}
}

.img-portfolio {
    width: 270px;
    height: 250px;
    border-radius: 50%;
    animation-name: img-portfolio-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.img-portfolio:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

@keyframes button-h2-in {
    0%   {opacity: 0.0;}
    66%  {opacity: 0.0;}
    100% {opacity: 1.0;}
}

#request-button, .text-label {
    animation-name: button-h2-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@media screen and (min-width: 768px) {
    #past-requests-modal .modal-dialog  {
        width:900px;
    }
}

#past-requests-modal .modal-dialog {
    width:75%;
}