.img-portfolio {
    width: 270px;
    height: 250px;
    border-radius: 50%;
}

.img-portfolio:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #past-requests-modal .modal-dialog  {
        width:900px;
    }
}

#past-requests-modal .modal-dialog {
    width:75%;
}

@media screen and (min-width: 768px) {
    #my-past-requests-modal.modal-dialog, #modalArea.modal-dialog #equipmentModal.modal-dialog{
        width:1200px;
    }
}

#my-past-requests-modal .modal-dialog, #modalArea.modal-dialog{
    width:85%;
}