@media screen and (min-width: 768px) {
    #admin-rights-modal .modal-dialog  {
        width:900px;
    }
}

#admin-rights-modal .modal-dialog {
    width:75%;
}

@keyframes division-in {
    0%   {opacity: 0.0; transform: translate(0, -50%);}
    100% {opacity: 1.0;}
}

#administrative-rights-table {
    animation-name: division-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}