<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Spacebit Resource Manager - {% block title %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ 'home/web' }}" />

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <style>
            body{
                height: 100%;
                overflow-y: auto;
                background-color: lightblue;
            }

            .page-header {
                font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                font-size: 20px;
                top: 0px;
                left: 0px;
                right: 0px;
                margin: 0px;
            }

            ul.footer {
                margin-top:10px;
                text-align:center;
            }

            ul.footer li {
                color:#333;
                display:inline-block;
            }


            #footer {
                bottom: 0px;
                height: 50px;
                left: 0;
                right: 0;
                outline: 1px solid #dfdfdf;
            }

            #footer, .page-header {
                background-color: #e3e8e8;
            }
        </style>

        {% block javascripts %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page-header">
            <div class="container">
                <h1>
                    Spacebit Resource Manager<br>
                    <small>{{ block('title') }}</small>
                </h1>
            </div>
        </div>

        <div>
            {% block body %}{% endblock %}
        </div>



        {#<div id="footer">#}
            {#<ul class="footer">#}
                {#<li>Website Designed By &#169; Spacebit</li>#}
            {#</ul>#}
        {#</div>#}
    </body>
</html>