<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Spacebit Resource Manager - {% block title %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ 'home/web' }}" />

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ asset('bundles/app/css/main-theme.css') }}">

        {% block javascripts %}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="page-header row">
            <div class="container">
                <h1>
                    Spacebit Resource Manager<br>
                    <small>{{ block('title') }}</small>
                </h1>
            </div>
        </div>

        {% block body %}{% endblock %}




        {#<div id="footer">#}
            {#<ul class="footer">#}
                {#<li>Website Designed By &#169; Spacebit</li>#}
            {#</ul>#}
        {#</div>#}

    </body>
</html>