{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}

{% block title %}Forgot Password{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div name="rememberMe_section">

        <h2>Forgot Your Password</h2>

        <p>Enter your email or username. <br>We'll email instructions on how to reset your password</p>

        <input type="radio" name="sex" value="male">Your Email &#10067;<br>
        <input name="email" type="email" id="email" placeholder="Email" required autofocus>
        <br>
        <h4>Or</h4>
        <input type="radio" name="sex" value="female">Your User ID &#10067;<br>
        <input name="userID" type="text" id="userID" placeholder="User ID" required>
        <br><br>
        <button onclick="">Submit</button>

    </div>
{% endblock %}
