{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}

{% block title %}Forgot Password{% endblock %}

{% block javascripts %}
    <script>
        function showTextField(elem){
            if (elem.value == "userIDButton"){
                document.getElementById('userID').disabled = false;
                document.getElementById('email').value = "";
                document.getElementById('email').disabled = true;

            }
            if (elem.value == "emailButton"){
                document.getElementById('userID').value = "";
                document.getElementById('userID').disabled = true;
                document.getElementById('email').disabled = false;
            }
        }
    </script>

{% endblock %}

{% block body %}
    <div class="col-lg-5" style="margin: 65px 125px 65px 65px;">
        <style>
            p {
                font-size: 17px;
            }
        </style>
        <h2>Forgot Your Password ?</h2>
        <p>Enter your email or username. We'll email instructions on how to reset your password</p>

        <form role="form">
            <label><input type="radio" name="recognition-method" value="emailButton" onclick="showTextField(this)">Your Email</label>
            <div class="form-group" style="padding: 20px">
                <label for="email" style="padding-right:3em">Email :</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required autofocus disabled>
            </div>

            <p>Or</p>

            <label><input type="radio" name="recognition-method" value="userIDButton" onclick="showTextField(this)">Your User ID</label>
            <div class="form-group" style="padding: 20px">
                <label for="userID" style="padding-right:3em">User ID :</label>
                <input name="userID" type="text" class="form-control" id="userID" placeholder="Enter your user ID" required autofocus disabled>
            </div>

            <button id="submit-button" type="submit" class="btn btn-sm btn-primary" onclick="sendHandleForgotPasswordRequest(); return false;">Send</button>
        </form>
    </div>
{% endblock %}
