{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}

{% block title %}Forgot Password{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="col-lg-5" style="margin: 65px 125px 65px 65px;">
        <style>
            p {
                font-size: 17px;
            }
        </style>
        <h2>Forgot Your Password ?</h2>
        <p>Enter your email or username. We'll email instructions on how to reset your password</p>

        <form role="form">
            <label><input type="radio" name="recognition-method" value="email">Your Email</label>
            <div class="form-group" style="padding: 20px">
                <label for="email" style="padding-right:3em">Email :</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required autofocus>
            </div>

            <p>Or</p>

            <label><input type="radio" name="recognition-method" value="user-id">Your User ID</label>
            <div class="form-group" style="padding: 20px">
                <label for="user-id" style="padding-right:3em">User ID :</label>
                <input name="user-id" type="text" class="form-control" id="user-id" placeholder="Enter your user ID" required autofocus>
            </div>

            <button id="submit-button" type="submit" class="btn btn-sm btn-primary" onclick="sendHandleForgotPasswordRequest(); return false;">Send</button>
        </form>
    </div>
{% endblock %}
