{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <style>
        h2.logIn{
            background-color: #0b083a;
            border-style: inset;
            color: white;
            font-size: 25px;
            padding: 5px
        }

        #login-form {}
    </style>
{% endblock %}

{% block javascripts %}
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        function validateUser() {
            var obj;


            var name =document.getElementById("userID").value;
            var password = document.getElementById("password").value;

            if (window.XMLHttpRequest) {
                obj = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                obj = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Browser Doesn't Support AJAX!");
            }

            if (obj !== null) {
                obj.onreadystatechange = function () {
                    if (obj.readyState < 4) {
                        // progress
                    } else if (obj.readyState === 4) {

                        var res = obj.responseText;
                        if (res == "fail"){
                            window.alert("***Please enter correct username and password***");
                            document.getElementById("password").value = "";
                        }
                        else{
                            var rows = JSON.parse(res).result;
                            //window.alert(rows[0].user_id);
                            if (rows[0].password != password){
                                window.alert("Log in failed");
                                document.getElementById("password").value = "";

                            }
                            else{
                                window.alert("Log in successful");
                            }

                        }

                    }
                }

                obj.open("POST", "./validateUser", true);
                obj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                obj.send("name=" + name + "& password=" + password);
            }
        }

    </script>
{% endblock %}

{% block body %}
    {% set link_to_home = '../' %}
    {% include 'templates/navbar.html.twig' %}

    <div id="login-form" class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
                <h2 class="logIn" style="text-align: center">Sign In</h2>
                <label for="UserID" class="sr-only">User ID</label>
                <input name="userID" type="text" id="userID" class="form-control" placeholder="User ID" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" onclick="validateUser()">Sign in</button>

            <div>
                <a href="#"><br>Forgot Password?</a>
                <p><br>Need a new Account?</p>
                <a href="signup" class="btn btn-primary">Sign Up Now</a>
            </div>
        </div>
    </div>
{% endblock %}