{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/spacebituser/css/user-login.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ asset('bundles/spacebituser/js/user-login.js') }}"></script>
	
	<script>
		function validateUser() {
			var obj;

			var name =document.getElementById("userID").value;
			var password = document.getElementById("password").value;

			if (window.XMLHttpRequest) {
				obj = new XMLHttpRequest();
			} else if (window.ActiveXObject) {
				obj = new ActiveXObject("Microsoft.XMLHTTP");
			} else {
				alert("Browser Doesn't Support AJAX!");
			}

			if (obj !== null) {
				obj.onreadystatechange = function () {
					if (obj.readyState < 4) {
						// progress
					} else if (obj.readyState === 4) {

						var res = obj.responseText;
						if (res == "fail"){
							window.alert("***Please enter correct username and password***");
							document.getElementById("password").value = "";
						}
						else{
							var rows = JSON.parse(res).result;
							//window.alert(rows[0].user_id);
							if (rows[0].password != password){
								window.alert("Log in failed");
								document.getElementById("password").value = "";

							}
							else{
								var rows = JSON.parse(res).result;

								window.alert(rows[0].access_level);
								window.alert("Log in successful");

							}

						}

					}
				}

				obj.open("POST", "./validateUser", true);
				obj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				obj.send("name=" + name + "& password=" + password);
			}
		}

	</script>
	
{% endblock %}

{% block body %}
    <div class="col-lg-4" style="margin: 125px;">
        <h2 class="login-division">Log In</h2>
        <form role="form">
            <div class="form-group">
                <label for="user-id" style="padding-right:3em">User ID</label>
                <input id="userID" name="userID" type="text" class="form-control" id="user-id" placeholder="Enter your user ID" required autofocus>
            </div>
            <div class="form-group">
                <label for="password" style="padding-right:2.4em">Password</label>
                <input id="password" name="password" type="password" class="form-control" id="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <label><input type="checkbox" value="remember_me" id="remember_me">Remember me</label>
            </div>
            <button class="btn btn-sm btn-success" onclick="validateUser(); return false;">Log In</button>  or <a href="signup">Sign Up</a>
            <a style="display: block; padding-top: 10px;" href="forgotPassword">Forgot Password?</a>
        </form>
    </div>
{% endblock %}