{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% set link_to_home = '../' %}
    {% include 'templates/navbar.html.twig' %}

    <head>
        <style>
            h2.logIn{
                background-color: #0b083a;
                border-style: inset;
                color: white;
                font-size: 25px;
                padding: 5px
            }
        </style>
    </head>

    <div class="container">


        <form class="form-signin">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">


                <h2 class="logIn" style="text-align: center">Sign In</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <div>
                    <a href="#"><br>Forgot Password?</a>
                    <p><br>Need a new Account?</p>
                    <a href="signup" class="btn btn-primary">Sign Up Now</a>


                </div>
            </div>

        </form>




    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    {#<!--Begin log in Area-->#}
    {#<div class="login-wrap group">#}

        {#<header class="signup-header">#}
            {#<h1 class="signup-logo" style="text-align:center;">Resource Manager</h1>#}
            {#<h2 class="little-big-header" style="text-align:center;">Log in!</h2>#}
        {#</header>#}

        {#<p><br></p>#}

        {#<div class="login-area">#}

                {#<!-- begin log in text fields-->#}
                {#<div align="center" >#}
                    {#<div id="login-email" class="field"  >#}
                        {#<label for="login-email-field">Username or Email</label>#}
                        {#<input id="login-email-field" name="email" required="required" type="text" size="30" value="" />#}
                    {#</div>#}

                    {#<div id="login-password" class="field">#}
                        {#<label for="login-password-field">Password</label>#}
                        {#<input id="login-password-field_" name="password" required="required" size="30" type="password" />#}
                    {#</div>#}

                    {#<div>#}
                        {#<input class="show-password" id="show-password" name="show-password" type="checkbox" value="" />#}
                        {#<label class="small-inline" for="show-password">Show Password</label>#}
                    {#</div>#}
                {#</div>#}
                {#<!-- end log in text fields-->#}


                {#<div id="login-error" align="center"></div>#}


                {#<div  align="center">#}
                    {#<label class="spacing-label">&nbsp;</label>#}

                    {#<button id="log-in-button" class="button green action-button expand-right">#}
                        {#<span class="label">Log in</span>#}
                        {#<span class="spinner"></span>#}
                    {#</button>#}

                    {#&nbsp;&nbsp;#}
                    {#<a href="#" id="forgot-password-link">#}
                        {#Forgot Password?#}
                    {#</a>#}
                {#</div>#}




                {#<!--start reset password section-->#}
                {#<div align="center" >#}
                    {#<h4><br>Reset Your Password</h4>#}

                    {#<div class="field">#}
                        {#<label for="forgot-email">Email</label>#}
                        {#<input type="email" id="forgot-email" name="forgot-email" placeholder="your@email.com">#}
                    {#</div>#}

                    {#<div class="field">#}
                        {#<input id="forgot-email-btn" type="submit" value="Send Password Reset Email" class="button button-medium">#}
                    {#</div>#}

                    {#<div id="sent-message">#}
                        {#<div id="sent-message-message"></div>#}
                    {#</div>#}
                {#</div>#}
            {#<!--end reset password section-->#}


            {#<!--Start create new account-->#}
            {#<div class="signup-callout" >#}
                {#Need an account? <a href="./signup">Sign up now!</a>#}
            {#</div>#}
            {#<!--end create new account-->#}

        {#</div>#}

    {#</div>#}
    {#<!--end of log in area-->#}

{% endblock %}