{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}
{% set active = {link:'Sign Up'} %}

{% block title %}Sign Up{% endblock %}

{% block stylesheets %}
    <style>
        @keyframes division-in {
            0%   {opacity: 0.0; transform: translate(-50%, 0);}
            50%  {opacity: 0.0; transform: translate(-50%, 0);}
            100% {opacity: 1.0;}
        }

        .division {
            animation-name: division-in;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function showDiv(){
            var elem = document.getElementById("accessLevel");
            if(elem.value == "student") {
                document.getElementById('studentDivision').style.display = "block";
                document.getElementById('staffDivision').style.display = "none";
                document.getElementById('guestDivision').style.display = "none";
            }
            if(elem.value == "staff") {
                document.getElementById('studentDivision').style.display = "none";
                document.getElementById('staffDivision').style.display = "block";
                document.getElementById('guestDivision').style.display = "none";
            }
            if(elem.value == "guest") {
                document.getElementById('studentDivision').style.display = "none";
                document.getElementById('staffDivision').style.display = "none";
                document.getElementById('guestDivision').style.display = "block";
            }
        }

        function addNewUser() {
            var obj;

            var userId = document.getElementsByName("userID").value;
            var firstName = document.getElementsByName("firstName").value;
            var middleName = document.getElementsByName("middleName").value;
            var lastName = document.getElementsByName("lastName").value;
            var email = document.getElementsByName("email").value;
            var telephoneNumber = document.getElementsByName("telephoneNumber").value;
            var accessLevel = document.getElementsByName("accessLevel").value;
            var password1 = document.getElementsByName("password1").value;
            var password2 = document.getElementsByName("password2").value;

            window.alert(firstName);

            if (password1 == password2){
                if (window.XMLHttpRequest) {
                    obj = new XMLHttpRequest();
                } else if (window.ActiveXObject) {
                    obj = new ActiveXObject("Microsoft.XMLHTTP");
                } else {
                    alert("Browser Doesn't Support AJAX!");
                }

                if (obj !== null) {
                    obj.onreadystatechange = function () {
                        if (obj.readyState < 4) {
                            // progress
                        } else if (obj.readyState === 4) {
                            var res = obj.responseText;
                            var rows = JSON.parse(res).result;
                            window.alert(res);
                        }
                    }

                    obj.open("POST", "./addUser", true);
                    obj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    obj.send("userId=" + userId & "firstName=" + firstName &
                    "middleName=" + middleName & "lastName=" + lastName &
                    "email=" + email & "telephoneNumber=" + telephoneNumber &
                    "accessLevel=" + accessLevel & "password1=" + password1
                    );
                }
            }
            else{
                window.alert("Passwords do not match");
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div style="padding: 0px 100px 0px 150px">
            <div class="col-lg-7">
                <h2 class="logIn division" style="text-align: center">Sign Up</h2>
                <form role="form">
                    <div class="division">
                        <div class="form-group">
                            <label for="userID">User ID</label>
                            <input type="text" class="form-control" name="userID" id="userID" placeholder="User ID" required />
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" required />
                        </div>
                        <div class="form-group">
                            <label for="middleName">Middle Name (optional)</label>
                            <input type="text" class="form-control" name="middleName" id="middleName" placeholder="Middle Name" />
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" required />
                        </div>
                        <div class="form-group">
                            <label for="telephoneNumber">Telephone Number</label>
                            <input type="number" class="form-control" id="telephoneNumber" name="telephoneNumber" placeholder="Telephone Number" required />
                        </div>
                        <div class="form-group">
                            <label for="passwordOne">Password</label>
                            <input type="password" class="form-control" id="InputPasswordFirst" name="passwordOne" placeholder="Password" required />
                            <label for="passwordTwo">Re-enter Password</label>
                            <input type="password" class="form-control" id="InputPasswordSecond" name="passwordTwo" placeholder="Confirm Password" required />
                        </div>
                        <div class="form-group">
                            <label for="accessLevel">Select User Category:</label>
                            <select class="form-control" id="accessLevel" name="accessLevel" onchange="showDiv(this)">
                                <option value="student">Student</option>
                                <option value="staff">Staff</option>
                                <option value="guest" selected>Guest</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div id="studentDivision" class="division" style="display: none;">
                        <div class="form-group">
                            <label for="batch">Batch</label>
                            <input type="number" class="form-control" id="batch" name="batch" placeholder="Batch" required />
                        </div>
                    </div>
                    <div id="staffDivision" class="division" style="display: none;">
                        <div class="form-group">
                            <label for="designation">Designation</label>
                            <input type="text" class="form-control" id="designation" name="designation" placeholder="Designation" required />
                        </div>
                    </div>
                    <div id="guestDivision" class="division" style="display: block;">
                        <h4>Organization Details</h4>
                        <div class="form-group">
                            <label for="title">Organization Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Organization Title" required />
                        </div>
                        <div class="form-group">
                            <label for="organizationEmail">Organization Email</label>
                            <input type="email" class="form-control" id="organizationEmail" name="organizationEmail" placeholder="Organization Email" required />
                        </div>
                        <div class="form-group">
                            <label for="organizationTelephone">Organization Telephone</label>
                            <input type="text" class="form-control" id="organizationTelephone" name="organizationTelephone" placeholder="Organization Telephone" required />
                        </div>
                        <div class="form-group">
                            <label for="nic">National ID Card Number (NIC)</label>
                            <input type="text" class="form-control" id="nic" name="nic" placeholder="National ID Card Number" required />
                        </div>
                        <div class="form-group">
                            <label for="organizationAddress">Organization Address</label>
                            <input type="text" class="form-control" id="organizationAddress" name="organizationAddress" placeholder="Organization Address" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-md btn-primary btn-block" onsubmit="addNewUser(); return false;">Sign Up</button><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}