{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

    {% set link_to_home = '../' %}
    {% include 'templates/navbar.html.twig' %}

    <body>
    <div class="container">
        <div class="row">
            <form role="form-horizontal">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="firstName" id="InputFirstName" placeholder="First Name" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="middleName">Middle Name (optional)</label>
                        <div class="input-group col-lg-12">
                            <input type="text" class="form-control" name="middleName" id="InputMiddleName" placeholder="Middle Name">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="lastName" id="InputLastName" placeholder="Last Name" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email Address</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Email Address" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputtelephonenumber">Telephone Number</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="InputTelephoneNumber" name="inputtelephonenumber" placeholder="Telephone Number" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordOne">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="InputPasswordFirst" name="passwordOne" placeholder="Password" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                        <label for="passwordTwo">Re-enter Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="InputPasswordSecond" name="passwordTwo" placeholder="Confirm Password" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>


                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                </div>
            </form>

        </div>
    </div>
    </body>

{% endblock %}