app:
    resource: "@AppBundle/Controller/"
    type:     annotation

spacebit_index:
    pattern:  /
    defaults: { _controller: AppBundle:Default:home }

spacebit_user:
    resource: "@SpacebitUserBundle/Resources/config/routing.yml"
    prefix:   /user

spacebit_admin:
    resource: "@SpacebitAdminBundle/Resources/config/routing.yml"
    prefix:   /admin

spacebit_resources:
    resource: "@SpacebitResourcesBundle/Resources/config/routing.yml"
    prefix:   /resources