body {
    padding: 0px;
    height: 100%;
}

a:hover {
    cursor: pointer;
    color: #5b39ff;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > ul.nav.navbar-nav.side-nav > li > ul.dropdown > li.active {
    background-color: #000001;
}

a {
    text-decoration: none;
    color: #3231ff;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand_light-webfont.eot');
    src: url('../fonts/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/quicksand_light-webfont.woff') format('woff'),
    url('../fonts/quicksand_light-webfont.ttf') format('truetype'),
    url('../fonts/quicksand_light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}