body {
    padding: 0px;
    height: 100%;
    background-color: #e6e6e6;
}

a:hover {
    cursor: pointer;
}

@keyframes body-in {
    0%   {opacity: 0.0; transform: translate(-25%, 0);}
    100% {opacity: 1.0;}
}

#body {
    animation-name: body-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}