{% extends 'base.html.twig' %}

{% set link_to_home = '../' %}
{% set active = {link:'Resources', sub_link:'Locations'} %}

{% block stylesheets %}
    <style>
        .faculty {
            width: 500px ;
        }

        .drop-btn{
            width: 500px;
            text-align: left;
            margin: 1px 10px 0px;

        }

        #txt1 {
            padding-bottom: 0px;
            padding-left: 20px;
        }

        .btn-padding{
            top : 25px;
            position: relative;
            left : 10px;
            width:250px ;
            display: inline-block;
        }

        .modal-dialog {
            width:1250px;
        }
    </style>


{% endblock %}

{% block title %}Venues{% endblock %}

{% block body %}
    {% block content %}
        <form role="form">
            <div class="container col-lg-6">
                <div class="form-group ">
                    <label for="sel1">Faculty :</label>
                    <!--give id to select-->
                    <select id="faculty" class="form-control" name="value" onchange="loadDepartments();">
                        <option disabled selected>**-Please select a faculty-**</option>;
                        {% for fac in facNames %}
                            <option value="{{ fac.faculty_name }}"> {{ fac.faculty_name }}</option>;
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="container col-lg-6">
                <div class="form-group ">
                    <label for="sel1">Department :</label>
                    <select class="form-control"  id="department" onchange="loadEquipmentByCategory()" disabled></select>
                </div>
            </div>
        </form>





    {% endblock %}
{% endblock %}



