{% extends 'base.html.twig' %}

{% block title %}Vehicles{% endblock %}

{% block javascripts %}
    <script>
        function loadVehiclesByCategory(category) {
            var obj;

            if (window.XMLHttpRequest) {
                obj = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                obj = new ActiveXObject("Microsoft.XMLHTTP");
            } else {
                alert("Browser Doesn't Support AJAX!");
            }

            if (obj !== null) {
                obj.onreadystatechange = function () {
                    if (obj.readyState < 4) {
                        // progress
                    } else if (obj.readyState === 4) {
                        var res = obj.responseText;
                        var rows = JSON.parse(res).result;

                        var modalContent = '<h2 style="text-align: center;">' + category + '</h2><table class="table table-hover">';
                        modalContent += '<tr><th>License Plate No</th><th>Model</th><th>Capacity</th><th>Driver</th><th></th></tr>';
                        for (var i = 0; i < rows.length; i++) {
                            modalContent += '<tr>';
                            modalContent += '<td>' + rows[i].plate_no + '</td>';
                            modalContent += '<td>' + rows[i].model + '</td>';
                            modalContent += '<td>' + rows[i].capacity + '</td>';
                            modalContent += '<td>' + rows[i].driver_first_name + ' ' + rows[i].driver_last_name + '</td>';
                            modalContent += '</tr>';
                        }
                        modalContent += '</table>';

                        document.getElementById('vehiclesModalContent').innerHTML = modalContent;
                        $('#vehiclesModal').modal();
                    }
                }

                obj.open("POST", "./getVehicleByCategory", true);
                obj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                obj.send("category=" + category);
            }
        }

        function loadRequestVehicleForm() {
            $('#vehiclesModal').modal('hide');
            $('#requestModal').modal();
        }
    </script>
{% endblock %}

{% block body %}
    {% set link_to_home = '../../' %}
    {% set active = {link:'Resources', sub_link:'Vehicles'} %}
    {% include 'templates/navbar.html.twig' %}

    <div class="container row">
        {% for vehicles_category in vehicles_categories %}
            <div class="col-lg-3 portfolio-item">
                <div class="portfolio-wrapper">
                    <div class="img-portfolio" style="margin: 10px;">
                        {% set url = 'bundles/spacebitvehicles/images/vehicle_category_' ~ vehicles_category.name ~ '.jpg' %}
                        <img src="{{ asset(url) }}" alt="{{ vehicles_category.name }}" onclick="loadVehiclesByCategory('{{ vehicles_category.name }}');" />
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <span>
        <button class="btn btn-md btn-info" style="margin: 10px;" onclick="loadRequestVehicleForm();">Request a Vehicle</button>
    </span>

    <div id="vehiclesModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="vehiclesModalContent">

            </div>
        </div>
    </div>

    <div id="requestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="margin: 20px;">
                    <form role="form" method="POST">
                        <div class="form-group">
                            <label for="date">Date :</label>
                            <input name="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="vehicle-type" class="control-label">Select the vehicle type you want to request :</label>
                            <div>
                                <select name="vehicle-type" class="form-control">
                                    {% for vehicle_category in vehicles_categories %}
                                        <option>{{ vehicle_category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-success">Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}