@keyframes division-in {
    0%   {opacity: 0.0; transform: translate(-50%, 0);}
    100% {opacity: 1.0;}
}

#staff-division, #student-division, #guest-division {
    animation-name: division-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}